.accreditation {
  font-size: 10px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    font-size: 12px;
    line-height: auto;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 14px;
  }
}

.accreditation__link {
  color: $red;
}
