.advantages {
  padding: 0 15px 0 15px;
}

.advantages__wrapper {
  margin-bottom: 32px;
  padding: 30px 15px 40px 15px;

  background-color: $background-grey;
  background-image: url('../img/decoration-advantages.svg');
  background-repeat: no-repeat;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    padding: 30px 50px 35px 40px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 30px 8px 11px 40px;
    margin-bottom: 31px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 60px 50px 54px 50px;
    margin-bottom: 63px;
  }
}
