.alternative-offer {
  padding: 20px 30px;

  background-color: $background-offer;
}

.alternative-offer__wrapper {
  margin-bottom: 50px;
}

.alternative-offer .button {
  margin-bottom: 20px;
}

.alternative-offer__headline {
  font-size: 19px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 30px;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 27px;
    line-height: 34px;
  }
}
