.clients {
  padding-top: 33px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
  }

  @media (min-width: $wide-desktop-width) {
    padding-top: 37px;
  }
}

.clients__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 108px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 81px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-bottom: 118px;
  }
}

.clients__headline {
  margin-bottom: 30px;

  font-size: 22px;
  line-height: 30px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;

    font-size: 27px;
    line-height: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 35px;
    line-height: 44px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-bottom: 72px;
  }
}

.clients__button {
  width: 190px;
  min-height: 40px;
  padding: 0;
  padding-bottom: 3px;

  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  color: #808080;

  background-color: transparent;
  border: 1px solid $grey80;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
