.logo {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.logo__image {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 32px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-right: 27px;
  }
}
