.manager {
  display: flex;
}

.offer__wrapper .manager {
  padding-top: 20px;
}

.manager__text {
  display: flex;
  flex-direction: column;
}

.manager__name {
  font-size: 15px;
  line-height: 17px;
  font-weight: 500;
}

.manager__job-title {
  font-size: 15px;
  line-height: 18px;
  color: $dark-grey;
}
