.types {
  padding-bottom: 39px;

  border-bottom: 1px solid $grey90;

  @media (min-width: $tablet-width) {
    padding-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 39px;
  }

  @media (min-width: $wide-desktop-width) {
    padding-bottom: 50px;
  }
}

.types-list {
  @include list-reset;
}

.types-list__item {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $desktop-width) {
    font-size: 15px;
    line-height: 20px;
  }
}
