// Viewports
$tablet-width: 768px;
$desktop-width: 1024px;
$wide-desktop-width: 1280px;

// Palette
$red: #cc0000;
$accent: #e50000;
$grey: #0d0d0d;
$dark-grey: #666666;
$light-grey: #808080;
$grey80: #cccccc;
$background-grey: #f7f7f7;
$background-reviews: #f2f2f2;
$background-offer: #a9bde7;
$black: #000000;
$cta: #0044cc;

// Typography
$ff-cofo-sans: "CoFo Sans", "Arial", sans-serif;
